.star-back {
    background-image: url("http://getwallpapers.com/wallpaper/full/1/2/c/92926.jpg");
    background-size: cover;
}

.squeeze-img{
    size: 50%;
}

.login input[type="text"], .login input[type="password"]
{
    width: 60%;
    margin: 0;
    padding: 5px 10px;
    background: 0;
    border: 0;
    border-bottom: 2px solid gold;
    outline: 0;
    font-style: italic;
    font-size: 16px;
    font-weight: 900;
    letter-spacing: 1px;
    margin-bottom: 5px;
    color: yellow;
    outline: 0;
}

.login input[type="submit"], .login input[type="button"]
{
    width: 12%;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 16px;
    outline: 0;
    cursor: pointer;
    letter-spacing: 1px;
    background-color: transparent;
    color: yellow;
    border: 3px solid;
    border-color: gold;
    border-radius: 5px;
}

.login input[type="submit"]:hover, .login input[type="button"]:hover
{
    background-color: black;
}

::placeholder {
    color: yellow;
    opacity: 1;
}