.feed{
    top: 200px;
    width: 600px;
    height: 100px;
}

.profilepageimage{
   width: 200px;
   height: 200px;
   margin-left: 11%;
}

.infoSection{
    right: 190px;
    top: 10px;
    bottom: 45px;
    background-color: black;
    color: cyan;
    border: 3px solid;
    border-color: blue;
    padding: 10px;
    margin: 10px;
    width: 200px;
    height: 250px;
    margin-left: 11%;
    margin-top: -20%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100px;
    /* background-color: black; */
    color: cyan;
    position: relative;
    margin-left: 1%;
    margin-right: 89%;   
}

li a {
    display: block;
    color: cyan;
    padding: 8px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
    background-color: #555;
    color: aquamarine;
}

.button1{
    background-color: black;
    color: cyan;
    border: 3px solid;
    border-color: blue;
    padding: 10px;
    margin: 10px;
    margin-left: 11%;
}

.button2{
    background-color: black;
    color: cyan;
    border: 3px solid;
    border-color: blue;
    padding: 10px;
    margin: 10px;
    margin-left: 0%;
}

.viewButton{
        background-color: black;
        color: cyan;
        border: 3px solid;
        border-color: blue;
}

.fileuploadbuttons{
    margin-left: 11%;
    margin-top: -20%;
}


.feed {
    background-color: black;
    color: cyan;
    border: 3px solid;
    border-color: blue;
    padding: 10px;
    margin: 10px;
    width: 65%;
    margin-top: -10%;
    margin-left:31%;
    margin-right: 15%;
    overflow: auto;
    height: 500px;
}

.feed ul{
    list-style-type: none;
}
.feed li{
    border-bottom: 3px solid;
    border-bottom-color: blue;
}
.post{
    width: 100%;
}


.feed button{
    background-color: black;
    border: none;
}

::-webkit-scrollbar {
width: 12px;
    height: 12px;
    }
    
    ::-webkit-scrollbar-track {
    border: 1px solid blue;
    border-radius: 10px;
    }
    
    ::-webkit-scrollbar-thumb {
    background: blue;  
    border-radius: 10px;
    }
    
    ::-webkit-scrollbar-thumb:hover {
    background: blue;  
    }