<div class='leftColumn'>
  <div class="simpleBorder">
      <hr class='lines'>
      <h3 class='profilename'>{{viewUser.fname}} {{viewUser.lname}}</h3>
      <hr class='lines'>
      <img class="profilepageimage" src="{{imageSrc}}"/><!--src='#fileInput'-->
    <br>
    <button class="button1" (click)="showOption()">Change Image</button> &nbsp;
    <button class="button1" (click)="initAboutModal()">View Your Information</button>&nbsp;
    
    
    <div class="form-group">
      <div *ngIf="showImageChange">
        <div class="fileuploadbuttons">
        <label class="btn btn-default">
      <input type="file" (change)="selectFile($event)">
    </label>
     <br>
    <input type="submit" class="btn btn-success" [disabled]="!selectedFiles" (click)="upload()" value="Submit"/>
        </div>
        <button class="button1" (click)="hideOption()">Hide Option</button>&nbsp;
      </div>
    
    

      <div class = "infoSection">
      <hr class='lines'>
      <hr class='lines'>

      
      
      <label>>>&nbsp;Day of Birth: {{viewUser.dob | date:'longDate'}}</label>
      <br/>
      <label>>>&nbsp;Allegiance: {{viewUser.allegiance.allegiance}}</label>
      <br/>
      <label>>>&nbsp;About: {{viewUser.about}}</label>
      <hr class='lines'>
      <hr class='lines'>
    </div>
  </div>
 </div>
</div>

<div class='rightColumn'>
  <app-feed></app-feed>
</div>


