.feed{
    top: 200px;
    width: 600px;
    height: 100px;
}

.squeeze {
    width: 50%;
    border-color: blue;
    border-width: 3px solid;
}

.push-hard-right{
    margin-left: 15%;
}

.profilepageimage{
   width: 200px;
   height: 200px;
}

.container{
    right: 190px;
    top: 10px;
    bottom: 45px;
    background-color: black;
    color: cyan;
    border: 3px solid;
    border-color: blue;
    padding: 10px;
    margin: 10px;
    width: 250px;
    height: 250px;
    margin-left: 0%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 10%;
    background-color: black;
    position: relative;
    margin-left: 1%;
    margin-right: 89%;   
}

li a {
    display: block;
    color: cyan;
    padding: 8px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
    background-color: #555;
    color: aquamarine;
}
