<!-- example of inbox list; still working on functionality -->
<div class = "inbox">
  <ul class = "inbox-list">
      <li>
        <div class = "media">
            <div class = "media-left">
              <a href="#">
                <img src="http://icons.iconarchive.com/icons/sensibleworld/starwars/128/C3PO-icon.png" class="media-object cat-icon rounded" alt="...">
            </a>
            </div>
            <div class="media-body">
              <ul class="n-user-list">
              <li><a href="#"><img src="https://image.flaticon.com/icons/png/512/236/236606.png" class="avatar rounded" alt="..."></a></li>
               <li><a href="#"><img src="https://image.flaticon.com/icons/png/512/280/280747.png" class="avatar rounded" alt="..."></a></li>
              </ul>
              <p class="media-heading"><b>xxx </b>followed you.</p>
          </div>
        </div>
      </li>
      <li>
        <div class="media">
            <div class="media-left">
              <!-- click on it to jump to new notification(might delete) -->
                <a href="#"> 
                    <img src="http://icons.iconarchive.com/icons/sensibleworld/starwars/128/Lightsaber-Red-icon.png" class="media-object cat-icon rounded-circle" alt="...">
                </a>
            </div>
            <div class="media-body">
                <ul class="n-user-list">
                <li><a href="#"><img src="https://image.flaticon.com/icons/png/512/280/280747.png" class="avatar rounded" alt="..."></a></li>
                </ul>
                <p class="media-heading"><b>xxxx </b> Like your Post.</p>
            </div>
        </div>
    </li>
    <li>
      <div class="media">
          <div class="media-left">
              <a href="#">
                  <img src="http://icons.iconarchive.com/icons/sensibleworld/starwars/128/Boba-Fett-icon.png" class="media-object cat-icon rounded-circle" alt="...">
              </a>
          </div>
          <div class="media-body">
              <ul class="n-user-list">
              <li><a href="#"><img src="https://image.flaticon.com/icons/png/512/280/280747.png" class="avatar rounded" alt="..."></a></li>
              </ul>
              <p class="media-heading"><b>xxxx </b> Comment Your Post.</p>
          </div>
      </div>
  </li>

  <li>
    <div class="media">
        <div class="media-left">
            <a href="#">
                <img src="http://icons.iconarchive.com/icons/sensibleworld/starwars/128/Millennium-Falcon-icon.png" class="media-object cat-icon rounded-circle" alt="...">
            </a>
        </div>
        <div class="media-body">
            <ul class="n-user-list">
            <li><a href="#"><img src="https://image.flaticon.com/icons/png/512/280/280747.png" class="avatar rounded" alt="..."></a></li>
            </ul>
            <p class="media-heading"><b>xxxx </b> Just Post .</p>
        </div>
    </div>
</li>
  </ul>
</div>