<!-- example of inbox list; still working on functionality -->
<div class = "inbox">
  <ul class = "inbox-list">
      <li>
        <div class = "media">
            <div class = "media-left">
              <a href="#">
                <img src="http://icons.iconarchive.com/icons/sensibleworld/starwars/128/C3PO-icon.png" class="media-object cat-icon rounded" alt="...">
            </a>
            </div>
            <div class="media-body">
              <ul class="n-user-list">
              <li><a href="#"><img src="https://image.flaticon.com/icons/png/512/236/236606.png" class="avatar rounded" alt="..."></a></li>
               <li><a href="#"><img src="https://image.flaticon.com/icons/png/512/280/280747.png" class="avatar rounded" alt="..."></a></li>
              </ul>
              <p class="media-heading"><b>xxx </b>followed you.</p>
          </div>
        </div>
      </li>
      <li>
        <div class="media">
            <div class="media-left">
              <!-- click on it to jump to new notification(might delete) -->
                <a href="#"> 
                    <img src="http://icons.iconarchive.com/icons/sensibleworld/starwars/128/Lightsaber-Red-icon.png" class="media-object cat-icon rounded-circle" alt="...">
                </a>
            </div>
            <div class="media-body">
                <ul class="n-user-list">
                <li><a href="#"><img src="https://image.flaticon.com/icons/png/512/280/280747.png" class="avatar rounded" alt="..."></a></li>
                </ul>
                <p class="media-heading"><b>xxxx </b> Like your Post.</p>
            </div>
        </div>
    </li>
    <li>
      <div class="media">
          <div class="media-left">
              <a href="#">
                  <img src="http://icons.iconarchive.com/icons/sensibleworld/starwars/128/Boba-Fett-icon.png" class="media-object cat-icon rounded-circle" alt="...">
              </a>
          </div>
          <div class="media-body">
              <ul class="n-user-list">
              <li><a href="#"><img src="https://image.flaticon.com/icons/png/512/280/280747.png" class="avatar rounded" alt="..."></a></li>
              </ul>
              <p class="media-heading"><b>xxxx </b> Comment Your Post.</p>
          </div>
      </div>
  </li>

  <!-- actually code -->
  <div *ngIf = 'newFollower && newFollower.length'>
  <li  *ngFor = 'let post of newPost'>
    <div class="media">
        <div class="media-left">
            <a href="#">
                <img src="http://icons.iconarchive.com/icons/sensibleworld/starwars/128/Millennium-Falcon-icon.png" class="media-object cat-icon rounded-circle" alt="...">
            </a>
        </div>
        <div class="media-body">
            <ul class="n-user-list">
            <li *ngFor='let p of post'>
              <a href="#">
                <img src="{{p.user.images}}" class="avatar rounded" alt="...">
              </a>
            </li>
            </ul>
            <p class="media-heading"><b>{{post.user.username}} </b> Just Post .</p>
        </div>
    </div>
</li>
</div>

<div *ngIf = 'newComment && newComment.length'>
<li  *ngFor = 'let comment of newComment'>
    <div class="media">
        <div class="media-left">
            <a href="#">
                <img src="http://icons.iconarchive.com/icons/sensibleworld/starwars/128/Boba-Fett-icon.png" class="media-object cat-icon rounded-circle" alt="...">
            </a>
        </div>
        <div class="media-body">
            <ul class="n-user-list">
            <li *ngFor = 'let c of comment'>
              <a href="#">
                <img src="{{c.user.image}}" class="avatar rounded" alt="...">
              </a>
            </li>
            </ul>
            <p class="media-heading"><b>{{comment.ownerid.username}} </b> Comment Your Post .</p>
        </div>
    </div>
</li>
</div>

<div *ngIf = 'newLike && newLike.length'>
<li  *ngFor = 'let like of newLike'>
    <div class="media">
        <div class="media-left">
            <a href="#">
                <img src="http://icons.iconarchive.com/icons/sensibleworld/starwars/128/Lightsaber-Red-icon.png" class="media-object cat-icon rounded-circle" alt="...">
            </a>
        </div>
        <div class="media-body">
            <ul class="n-user-list">
            <li *ngFor='let l of like'>
              <a href="#">
                <img src="{{l.user.image}}" class="avatar rounded" alt="...">
              </a>
            </li>
            </ul>
            <p class="media-heading"><b>{{like.likes.username}} </b> Like Your Post .</p>
        </div>
    </div>
</li>
</div>

<div *ngIf = 'newFollower && newFollower.length'>
<li  *ngFor = 'let follower of newFollower'>
    <div class="media">
        <div class="media-left">
            <a href="#">
                <img src="http://icons.iconarchive.com/icons/sensibleworld/starwars/128/Lightsaber-Red-icon.png" class="media-object cat-icon rounded-circle" alt="...">
            </a>
        </div>
        <div class="media-body">
            <ul class="n-user-list">
            <li *ngFor='let f of follower'>
              <a href="#">
                <img src="{{f.images}}" class="avatar rounded" alt="...">
              </a>
            </li>
            </ul>
            <p class="media-heading"><b> {{follower.username}} </b> Like Your Post .</p>
        </div>
    </div>
</li>
</div>
  </ul>
</div>

