body{padding:15px}

.inbox-list, .n-user-list {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.inbox-list > li {
    border-bottom: 2px solid blue;
    margin-bottom: 5px;
    padding: 5px 0;
}
.inbox-list .cat-icon {
    width: 30px;
    background-color: blue;
}
.inbox-list .avatar {
    width: 35px;
}

.rounded {
    border-radius: 0.25rem;
}
.n-user-list{margin-bottom:8px;}
.n-user-list:after{clear:both; content:''; display:table;}
.n-user-list li{float:left;}
.n-user-list li + li{margin-left:5px;}
.n-user-list li a, .n-user-list li a:hober{text-decoration:none;}

.inbox {
    background-color: black;
    border-color: blue;
    color: cyan;
} 