<div id="reset_pass" class="reset_password">
  <br><br>
  <p class="sec_ques" id="sec_ques">Placeholder Question...</p> <br>
  <p>Response >> </p>
  <p class="input-arr"> << <input type="text" placeholder="Security Question Response" [(ngModel)]="sec_ans" name="sec_ans" /></p>
  <br>
  <p>New Password >></p>
  <p class="input-arr"> << <input type="password" placeholder="Enter new password" [(ngModel)]="new_pass" name="new_pass" /> &nbsp;</p>
  <br>
  <input type="submit" value="Submit" (click)="reset()" /> 
  <br><br>
</div>