<h2>Change Your Information</h2>
<div class = "tablediv">
  <table class = "center">
    <tr>
      <td>
        <label>Username: </label>
      </td>
      <td>
        <input type="text" placeholder="Username" value = "{{changeUser.username}}"/>
      </td>
    </tr>

    <tr>
      <td>
        <label>First Name: </label>
      </td>
      <td>
        <input type="text" placeholder="First Name" value = "{{changeUser.fname}}"/>
      </td>
    </tr>

    <tr>
      <td>
        <label>Last Name: </label>
      </td>
      <td>
        <input type="text" placeholder="First Name" value = "{{changeUser.lname}}"/>
      </td>
    </tr>

    <tr>
      <td>
        <label>Email: </label>
      </td>
      <td>
        <input type="text" placeholder="Email" value = "{{changeUser.email}}"/>
      </td>
    </tr>

    <tr>
      <td>
        <label>About: </label>
      </td>
      <td>
        <input type="text" placeholder="Description" value = "{{changeUser.about}}"/>
      </td>
    </tr>

    <tr>
      <td>
        <label>Day of Birth: </label>
      </td>
      <td>
        <input class = "datechangeinfo" type="date" placeholder="Day of Birth" value = "{{changeUser.dob}}"/>
      </td>
    </tr>
  </table>
</div>
<div>
  <button class="button" type="button" value="Return" (click)="initAboutModal()">Return</button>
  <button class="button" type="button" value="Change" (click)= "submitInfoChange()">Change Information</button>
</div>