<h2>Change Your Information</h2>
<div class = "tablediv">
  <table class = "center">
    <tr>
      <td>
        <label>Username: </label>
      </td>
      <td>
        <input type="text" [(ngModel)]="up.username"/>
      </td>
    </tr>

    <tr>
      <td>
        <label>First Name: </label>
      </td>
      <td>
        <input type="text" [(ngModel)]="up.fname"/>
      </td>
    </tr>

    <tr>
      <td>
        <label>Last Name: </label>
      </td>
      <td>
        <input type="text"  [(ngModel)]="up.lname"/>
      </td>
    </tr>

    <tr>
      <td>
        <label>About: </label>
      </td>
      <td>
        <input type="text" [(ngModel)]="up.about"/>
      </td>
    </tr>
  </table>
</div>
<div>
    \<button class="button" type="button" value="Change" (click)= "submitInfoChange()">Change Information</button>
  <button class="button" type="button" value="Return" (click)="initAboutModal()">Return</button>
</div>