<h2>Change Your Information</h2>
<div class = "tablediv">
  <table class = "center">
    <tr>
      <td>
        <label>Username: </label>
      </td>
      <td>
        <input type="text" placeholder="Username" />
      </td>
    </tr>

    <tr>
      <td>
        <label>Name: </label>
      </td>
      <td>
        <input type="text" placeholder="Name" />
      </td>
    </tr>

    <tr>
      <td>
        <label>Email: </label>
      </td>
      <td>
        <input type="text" placeholder="Email" />
      </td>
    </tr>

    <tr>
      <td>
        <label>Description: </label>
      </td>
      <td>
        <input type="text" placeholder="Description" />
      </td>
    </tr>

    <tr>
      <td>
        <label>Day of Birth: </label>
      </td>
      <td>
        <input type="text" placeholder="Day of Birth" />
      </td>
    </tr>
  </table>
</div>
<div>
  <button type="button" value="Return" (click)="initAboutModal()">Return</button>
  <button type="submit" value="Change">Change Information</button>
</div>