label{
    color: cyan;
}

div{
    text-align: center;
}

table{
    padding: 50px;
    background-color: black;
    color: cyan;
    border: 3px solid;
    border-color: blue;
    padding: 10px;
    text-align: center;
}

h2{
    color:cyan;
}

button{
    background-color: black;
    color: cyan;
    border: 3px solid;
    border-color: blue;
    padding: 10px;
    margin-right: 1%;
    margin-top: 2%;
}

input{
    background-color: black;
}

::placeholder {
    color: cyan;
    opacity: 1; /* Firefox */
}

table.center {
    margin-left:auto; 
    margin-right:auto;
  }