/* You can add global styles to this file, and also import other style files */
body {
    /*background: url("https://images.alphacoders.com/726/726264.jpg") no-repeat center center fixed;*/
    background: url("assets/images/Coruscant_at_night.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
