<div>
  <nav class='navbar navbar-back'>
      <div>
        <a class='navbar-img' routerLink='/feed'>
          <img alt='Brand' src="{{faviconSrc}}">
        </a>
        <a class='navbar-brand' routerLink='/feed'>
          {{title | uppercase}}
          <span id="new-messages-feed" class="badge"></span>
        </a>
        <ul class='nav navbar-nav'>
          <li>
            <a routerLink="/profile">Your Profile</a>
          </li>
          <li>
            <a routerLink="/inbox">Inbox<span id="new-messages-inbox" class="badge"></span></a>
          </li>
          <li>
            <a (click) = "initLoginModal()">Logout</a>
          </li>
          <li>
            <label class = "countdownlabel">COUNTDOWN TO EPISODE IX</label>
            <div id="newcountdown"></div>
          </li>
        </ul>
        <div class="search-container">
          <form action="">
            <input type="text" placeholder="Search.." name="search">
            <button type="submit"><i class="fa fa-search"></i></button>
          </form>
        </div>
      </div>
  </nav>
  <div id="modal-container" class="hidden"></div>
  <div id="overlay" class="hidden"></div>
</div>
<div class="push-right">
    <router-outlet></router-outlet>
</div>
