
<div class='feed'>
  <!-- <h3>{{activeUser.fname}} {{activeUser.lname}}'s Galactic Feed</h3> -->
  <h3>Galactic Feed</h3>
  <span style='margin-left: 80%'><button (click) = initNewPostModal()><img src = 'assets/images/plus-256.png' width = '20px' height = '20px'>&nbsp;new post</button></span><br/>
<ul *ngFor = 'let p of posts'>
  <li id='{{p.pid}}' class='li-post'><span>>>&nbsp;</span>{{p.body}}&nbsp;&nbsp;
    <span *ngIf = 'p.images != null'><a (click)="displayImages($event)">images&nbsp;</a>[{{p.images.length}}]&nbsp;&nbsp;</span>
    {{p.created|date:'short'}}&nbsp;&nbsp;
    <a (click)="setPostViewUser()">{{p.creator.fname}} {{p.creator.lname}}</a>
    <button (click)="likePost($event)"><img src = 'assets/images/1485477009-like_78561.png' width = '30px' height = '30px'></button>[{{p.likes != null? p.likes.length:0}}]&nbsp;&nbsp;
    <a (click)="toggleComments($event)">comments&nbsp;</a>[{{p.comments != null? p.comments.length:0}}]
    <br/>
    </li>
    <ul id='{{p.pid}}' style= "display:none">
      <li *ngFor = "let c of p.comments" id = '{{c.cid}}' class='li-comment'>
        <span><<&nbsp;</span>{{c.body}}&nbsp;&nbsp;
        <a (click)="setComViewUser()">{{c.poster.fname}} {{c.poster.lname}}</a>
        <button (click)="likeComment($event)"><img src = 'assets/images/1485477009-like_78561.png' width = '30px' height = '30px'>
          </button>[{{c.likes != null? c.likes.length:0}}]
      </li>
      <li>
        <span><<&nbsp;</span><input class='new-com' type='text' size = '80px'>&nbsp;<button (click) = "submitNewComment($event)"><img src = 'assets/images/plus-256.png' width = '20px' height = '20px'></button>
      </li>
    </ul>
</ul>
</div>