
<div class='feed'>
  <h3>Your Galactic Feed</h3>
  <span style='margin-left: 80%'><button><img src = 'assets/images/plus-256.png' width = '20px' height = '20px'>&nbsp;new post</button></span><br/>
<ul *ngFor = 'let p of posts'>
  <li id='{{p.pid}}'>{{p.body}}&nbsp;&nbsp;
    {{p.created|date:'short'}}&nbsp;&nbsp;
    <button (click)="likePost($event)"><img src = 'assets/images/1485477009-like_78561.png' width = '30px' height = '30px'></button>[{{p.likes != null? p.likes.length:0}}]&nbsp;&nbsp;
    <a (click)="toggleComments($event)">comments&nbsp;</a>[{{p.comments != null? p.comments.length:0}}]
    </li>
</ul>
</div>