<div>
<h2>{{activeUser.fname}} {{activeUser.lname}}'s Account Information</h2>
<ul class='detail-list'>
    <li>Name:  {{activeUser.fname}} {{activeUser.lname}}</li>
    <li>Username:  {{activeUser.username}}</li>
    <li>Email:  {{activeUser.email}}</li>
    <li>Birthday:  {{activeUser.dob + 86000000 | date:'yyyy-MM-dd'}}</li>
    <li>Description:  {{activeUser.description}}</li>
    <li>Join Date:</li>
    <li>Years of Service:</li>

  </ul>

<button class="button" type = "button" value = "Exit" (click) = "close()">Exit</button>
<button class="button" type = "button" value = "changeInfo" (click) = "initChangeModal()">Change User Information</button>
</div>