.newPost{
    color:cyan;
    text-align: left;
}

.newPost span{
    margin-left: 30px;
    font-weight: bold;
}

.newPost input, textarea{
    background-color: black;
    border-bottom: 3px solid;
    border-bottom-color: blue;
}

