<div class='newPost'>
  <label for='body'>post >></label><br/>
  <span><<&nbsp;</span><input type='text' name='body' id='body'/><br/>
  <label for="youtube">youtube link >></label><br/>
  <span><<&nbsp;</span><input type='text' name='youtube' id='youtube'/><br/>
  <label for=image>image upload >></label><br/>
  <span><<&nbsp;</span><input type='file' name='image' id='image'/><br/>
  <input type='button' value='Post' id='btnPost' (click)=close()/>
  &nbsp;
  <input type='button' value='Close' id='btnClose' (click)=close()/>
</div>
